body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 500px;
  padding: 20px;
  margin: 0;
  background-color: #333;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

input[type="number"],
button {
  width: calc(50% - 5px);
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.output-container {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  height: 34px;
}

#copyBtn {
  padding: 8px;
  margin-left: 8px; /* Add margin to the left */
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  height: 34px;
}

#copyBtn:hover {
  background-color: #0073a8;
}
